<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <h1>About Page</h1>
    <p>This application is a basic web server built using Express.js, 
        designed to demonstrate understanding of the fundamentals of server-side development.
        This application have 3 routes: a home page, an about page, and a contact page, with form submission and logging data to console.</p>
    <br><br>
    <ol>
        <li> Home Page (/):
            Displays a welcoming message to users.
            Simple HTML response to greet visitors.</li>
        <li>About Page (/about):
            Provides information about the application.
            Includes a brief description stating that it is a simple Express.js application.</li>
        <li>Contact Page (/contact):
            Renders an HTML form allowing users to submit their name and email address.
            The form uses a POST request to send data back to the server.</li>
    </ol>
</body>
</html>

<!-- adding comments -->